:root {
    --title-font: 'Kavoon', cursive;
    --body-font:'Poppins', sans-serif;
    --bold: 700;
}

/* Banner */


.photo {
    background:linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(https://images.unsplash.com/photo-1552650272-b8a34e21bc4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3033&q=80);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 530px;
}

.phototext {
    font-family: var(--title-font);
    color: #2A379D;
    font-size: 53.45px;
    padding: 40px 50px;
    text-align: center;
}

/* About Text */

.origin{
    width: 948px;
    height: 253px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
  
}

.aboutText {
    font-family: var(--body-font);
    text-align: center;
    color: #797979;
    font-size: 16px;
    align-self: center;
}

/* arrow */
.stage {
    height: 70px;
    margin: 30px 0px;
    width: 100%;
    display: flex;
}
.aboutScroll {
    align-self: flex-end;
    animation-duration: 1.7s;
    animation-iteration-count: infinite;
    color: #5C64A2;
    margin: 0px auto;
}
.bounce-1 {
    animation-name: bounce-1;
    animation-timing-function: linear;
}

@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-15px); }
    100% { transform: translateY(0); }
}


/* Fill information */

div.fillPhoto {
    width: 611px;
    height: 257px;
}

/* Images of Fill */

.duck {
    background: url(../../assets/imgs/home/evie-s-Sw7f58YJbc0-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
}

.polyBlend {
    background: url(../../assets/imgs/home/crystal-de-passille-chabot-IQJce7KVi3M-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
}

.foam {
    background: url(../../assets/imgs/home/rodolfo-puchulu-jGfIzudYK_Q-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

.details {
    width: 611px;
    font-size: 20px;
    color: #A8A8A8;
}

.filltitle {
    font-size: 35px;
    font-family: var(--title-font);
    color: #5C64A2;
    padding-bottom: 10px;
}

.filldesc {
    font-family: var(--body-font);
}

.fillDeets {
    margin-bottom: 30px;
}
