/* product Text */

.prodName {
    color: #2A379D;
    font-size: 40px;
    font-family: var(--title-font);
    margin-top: 10px;
}

.costAdd {
    margin-bottom: 10px;
}

.cost {
    color: #5C64A2;
    font-size: 25px;
    font-weight: var(--bold);
    font-family: var(--body-font);
    text-align: center;
}


.quantLabel {
    font-family: var(--body-font);
    color: #5C64A2;
    font-size: 13px;
    margin-right: 30px;
}

.quantarrow {
    color: #EDB678;
    font-size: 15px;
    font-weight: var(--bold);
    padding-bottom: 4 px 0px;
}

.quant {
    text-align: center;
    font-family: var(--body-font);
    width: 18%;
    background: none;
    border: none;
    margin: 0px;
    padding: 0px;
}


.addToCart {
    background-color: #EDB678;
    border-radius: 5px;
    text-align: center;
    padding: 10px 10px;
    color: white;
    font-family: var(--body-font);
}

.addToCart:hover {
    color: white;
}

.addToFavorites, .favorite {
    font-family: var(--body-font);
    font-weight: var(--bold);
    text-transform: uppercase;
    font-size: 10px;
    color:  #5C64A2;
    text-align: center;
    padding: 8px 0px;

}

.addToFavorites:hover {
    color:   #2A379D;
    cursor: pointer;
}
