.checkoutCart {
    color: #797979;
    font-family: var(--body-font);
}

.checkoutImg {
    width: 80px;
    height: 80px;
}

.productCheckoutTitle {
    font-size: 14px;
    font-weight: var(--bold);
}

.checkoutProd {
    font-size: 12px;
}

.checkoutProdTotal {
    font-size: 14px;
    font-weight: var(--bold);
}