.checkoutPrice {
    font-family: var(--body-font);
    font-size: 15px;
}

.checkoutTotal {
    font-size: 18px;
    font-weight: var(--bold);
}

.checkoutToPayment {
    margin: 25px auto;
}

.citystatezip {
    width: 32%;
}

.checkoutCartTitle {
    font-family: var(--body-font);
    font-size: 20px;
    font-weight: var(--bold);
    margin-bottom: 10px;
    color: #5C64A2;
}