:root {
    --title-font: 'Kavoon', cursive;
    --body-font:'Poppins', sans-serif;
    --bold: 700;
}


.pagePath {
    font-family: var(--body-font);
    color: #455274;
    font-size: 10px;
    text-transform: uppercase;
    margin: 15px 0px;
}

#pathToAll {
    color: #455274;
}

.quantarrow {
    margin: 3px 0px;
    color: #EDB678;
}

.quant {
    border: 1px solid #C4C4C4;
    text-align: center;
    font-family: var(--body-font);
    border-radius: 5px;
    width: 15%;
    margin: 0px 10px;
}

.itemSelectTitle {
    margin-top: 20px;
    font-size: 15px;
}

/* Fill and color buttons */

.customFill, .customColor {
    border-radius: 5px;
    color: white;
    background-color: #B8C5D0;
    font-weight: var(--bold);
}

.textOpt {
    text-align: center;
}

.customColor, .customFill  {
    font-size: 10px;
    cursor: pointer;
}


.customFill:hover, .customColor:hover {
    color: white;
    background-color: #EDB678;
}

.detailLine {
    border-top: 2px solid #A8A8A8;
    margin: 3px;
}

/* Detail dropdown */
.dropdownTitle {
    color: #A8A8A8;
    font-family: var(--body-font);
    text-transform: uppercase;
    font-size: 12px;
    padding-left: 10px;
}

.sign {
    text-align: center;
}

.details {
    margin-top: 30px;
}

.selectedColor {
    color: white;
    background-color: #EDB678;
}

.selectedFill{
    color: white;
    background-color: #EDB678;
}