
.nav{
    margin: 25px 0px 30px;
  }
  
  #logo {
    height: 70px;
    margin-right: 15px;
  }
  
  .navigation {
    font-family: var(--title-font);
    font-size: 13px;
    color: #A8A8A8;
    text-align: center;
    align-self: center;
  }
  
  .right {
    margin: 3px 30px;
  }

  .heart, .cart {
    margin: 0px 30px;
  }
  
  #shop:hover, #about:hover, #contact:hover, .cart:hover,  .heart:hover {
    color: #455274;
  }
  
  .selected {
    color: #455274;
    border-bottom: 3px solid #455274;
    transition: border-bottom .5s ease-in-out;
  }

  